// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

// Generics
form :where(input, select, textarea) {
    margin-bottom: 0.25rem;
}

img {
    display: block;
    max-width: 125px;
}
